In [1]:
import pymongo

# establish the connection with mongodb
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

# create database
mydb = client['Employee']

In [2]:

# create table(Collection)
information = mydb.employeeinfo

In [3]:
records = [{
    "Firstname":"ABC",
    "Lastname":"DSF",
    "department":"AIC",
    "age":27
    },
    {
    "Firstname":"ASDA2",
    "Lastname":"VVVV2",
    "departm/ent":"AISS2",
    "age":21
    },
    {
    "Firstname":"ravalSSSD1",
    "Lastname":"sahilSDSD1",
    "department":"AISCS1",
    "age":25
    }]

In [4]:
# insert the data into collection
information.insert(records)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

[ObjectId('5ee785bc8508fcc1167d4394'),
 ObjectId('5ee785bc8508fcc1167d4395'),
 ObjectId('5ee785bc8508fcc1167d4396')]

In [5]:
# simple query with employeeinfo collection
# find top 1 record
information.find_one()

{'_id': ObjectId('5ee772db351cf5b2dda65245'),
 'Firstname': 'raval',
 'Lastname': 'sahil',
 'department': 'AI'}

In [6]:
# select * from employeeinfo
for record in information.find():
    print(record)

{'_id': ObjectId('5ee772db351cf5b2dda65245'), 'Firstname': 'raval', 'Lastname': 'sahil', 'department': 'AI'}
{'_id': ObjectId('5ee7738e351cf5b2dda65246'), 'Firstname': 'raval', 'Lastname': 'sahil', 'department': 'AI'}
{'_id': ObjectId('5ee7738e351cf5b2dda65247'), 'Firstname': 'raval2', 'Lastname': 'sahil2', 'department': 'AI2'}
{'_id': ObjectId('5ee7738e351cf5b2dda65248'), 'Firstname': 'raval1', 'Lastname': 'sahil1', 'department': 'AI1'}
{'_id': ObjectId('5ee78010f9ce145b85bfd657'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC'}
{'_id': ObjectId('5ee78010f9ce145b85bfd658'), 'Firstname': 'ASDA2', 'Lastname': 'VVVV2', 'department': 'AISS2'}
{'_id': ObjectId('5ee78010f9ce145b85bfd659'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1'}
{'_id': ObjectId('5ee7839af9ce145b85bfd65a'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee7839af9ce145b85bfd65b'), 'Firstname': 'ASDA2', 'Lastname': 'VVVV2', 'departm/ent': 'AISS2', 'age': 21}
{'_id': ObjectId('5ee7839af9ce145b85bfd65c'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}
{'_id': ObjectId('5ee785bc8508fcc1167d4394'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee785bc8508fcc1167d4395'), 'Firstname': 'ASDA2', 'Lastname': 'VVVV2', 'departm/ent': 'AISS2', 'age': 21}
{'_id': ObjectId('5ee785bc8508fcc1167d4396'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}

In [7]:
# select * from employeeinfo where Firstname = "raval"
for record in information.find({"Firstname":"raval"}):
    print(record)

{'_id': ObjectId('5ee772db351cf5b2dda65245'), 'Firstname': 'raval', 'Lastname': 'sahil', 'department': 'AI'}
{'_id': ObjectId('5ee7738e351cf5b2dda65246'), 'Firstname': 'raval', 'Lastname': 'sahil', 'department': 'AI'}

In [13]:
# in the record
for record in information.find({"Lastname":{'$in':["raval",'DSF']} }):
    print(record)

{'_id': ObjectId('5ee78010f9ce145b85bfd657'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC'}
{'_id': ObjectId('5ee7839af9ce145b85bfd65a'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee785bc8508fcc1167d4394'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}

In [14]:
# lt is less then (<)
for record in information.find({"age":{'$lt':25} }):
    print(record)

{'_id': ObjectId('5ee7839af9ce145b85bfd65b'), 'Firstname': 'ASDA2', 'Lastname': 'VVVV2', 'departm/ent': 'AISS2', 'age': 21}
{'_id': ObjectId('5ee785bc8508fcc1167d4395'), 'Firstname': 'ASDA2', 'Lastname': 'VVVV2', 'departm/ent': 'AISS2', 'age': 21}

In [15]:
# lte is less then (<=)
for record in information.find({"age":{'$lte':25} }):
    print(record)

{'_id': ObjectId('5ee7839af9ce145b85bfd65b'), 'Firstname': 'ASDA2', 'Lastname': 'VVVV2', 'departm/ent': 'AISS2', 'age': 21}
{'_id': ObjectId('5ee7839af9ce145b85bfd65c'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}
{'_id': ObjectId('5ee785bc8508fcc1167d4395'), 'Firstname': 'ASDA2', 'Lastname': 'VVVV2', 'departm/ent': 'AISS2', 'age': 21}
{'_id': ObjectId('5ee785bc8508fcc1167d4396'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}

In [16]:
# gt is grater then (>)
for record in information.find({"age":{'$gt':25} }):
    print(record)

{'_id': ObjectId('5ee7839af9ce145b85bfd65a'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee785bc8508fcc1167d4394'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}

In [18]:
# gte is grater then or equal to (=>)
for record in information.find({"age":{'$gte':25} }):
    print(record)

{'_id': ObjectId('5ee7839af9ce145b85bfd65a'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee7839af9ce145b85bfd65c'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}
{'_id': ObjectId('5ee785bc8508fcc1167d4394'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee785bc8508fcc1167d4396'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}

In [19]:
# double condition
for record in information.find({'$or':[ {"age" : {'$gt':21} }, {"Firstname": "sahil"} ]} ):
    print(record)

{'_id': ObjectId('5ee7839af9ce145b85bfd65a'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee7839af9ce145b85bfd65c'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}
{'_id': ObjectId('5ee785bc8508fcc1167d4394'), 'Firstname': 'ABC', 'Lastname': 'DSF', 'department': 'AIC', 'age': 27}
{'_id': ObjectId('5ee785bc8508fcc1167d4396'), 'Firstname': 'ravalSSSD1', 'Lastname': 'sahilSDSD1', 'department': 'AISCS1', 'age': 25}

In [25]:
import pandas as pd
pd = pd.DataFrame(list(information.find()))

In [21]:
pd

,Firstname,Lastname,_id,age,departm/ent,department
0,raval,sahil,5ee772db351cf5b2dda65245,NaN,NaN,AI
1,raval,sahil,5ee7738e351cf5b2dda65246,NaN,NaN,AI
2,raval2,sahil2,5ee7738e351cf5b2dda65247,NaN,NaN,AI2
3,raval1,sahil1,5ee7738e351cf5b2dda65248,NaN,NaN,AI1
4,ABC,DSF,5ee78010f9ce145b85bfd657,NaN,NaN,AIC
5,ASDA2,VVVV2,5ee78010f9ce145b85bfd658,NaN,NaN,AISS2
6,ravalSSSD1,sahilSDSD1,5ee78010f9ce145b85bfd659,NaN,NaN,AISCS1
7,ABC,DSF,5ee7839af9ce145b85bfd65a,27.0,NaN,AIC
8,ASDA2,VVVV2,5ee7839af9ce145b85bfd65b,21.0,AISS2,NaN
9,ravalSSSD1,sahilSDSD1,5ee7839af9ce145b85bfd65c,25.0,NaN,AISCS1
10,ABC,DSF,5ee785bc8508fcc1167d4394,27.0,NaN,AIC
11,ASDA2,VVVV2,5ee785bc8508fcc1167d4395,21.0,AISS2,NaN
12,ravalSSSD1,sahilSDSD1,5ee785bc8508fcc1167d4396,25.0,NaN,AISCS1